{% extends 'auth_factories/settings.html' %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Authentication" "auth_factories:login" %}
    {% breadcrumb "Settings" "auth_factories:settings" %}
    {% breadcrumb "TOTP" "auth_factories:totp:list" %}
    {% if object %}
        {% breadcrumb object "auth_factories:totp:create" %}
    {% else %}
        {% breadcrumb "Add token" "auth_factories:totp:create" %}
    {% endif %}
{% endblock %}

{% block settings %}
    <img src="{{ totp_img }}" data-size="250">
    {% crispy form %}
{% endblock %}
