{% extends 'auth_factories/settings.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Authentication" "auth_factories:login" %}
    {% breadcrumb "Settings" "auth_factories:settings" %}
    {% breadcrumb "Token list" "auth_factories:totp:list" %}
    {% breadcrumb object "auth_factories:totp:create" %}
{% endblock %}

{% block settings %}
    <div class="card">
        <div class="card-header">
            {% trans 'Confirmation' %}
        </div>
        <div class="card-body">
            <h4 class="card-title">{% trans 'Deletion confirmation' %}</h4>
            <p class="card-text">Are you sure you want to remove the token for the "{{ object.device_name }}" device? It
                was used for the last time {{ object.last_used }}.</p>
            <form method="POST">
                {% csrf_token %}
                <div class="btn-group" role="group" aria-label="{% trans 'Action buttons' %}">
                    <button type="submit" href="#" class="btn btn-warning">{% trans 'Delete' %}</button>
                    <a href="{% url 'auth_factories:totp:list' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
