{% extends 'auth_factories/settings.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Authentication" "auth_factories:login" %}
    {% breadcrumb "Settings" "auth_factories:settings" %}
    {% breadcrumb "Yubico OTP" "auth_factories:totp:settings" %}
{% endblock %}

{% block settings %}
    {% render_table table %}
    <a href="{% url 'auth_factories:yubico_otp:create' %}" class="btn btn-primary">{% trans 'Add token' %}</a>
{% endblock %}
