{% extends 'auth_factories/settings.html' %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Authentication" "auth_factories:login" %}
    {% breadcrumb "Settings" "auth_factories:settings" %}
    {% breadcrumb "Yubico OTP" "auth_factories:yubico_otp:list" %}
    {% if object %}
        {% breadcrumb object "auth_factories:yubico_otp:create" %}
    {% else %}
        {% breadcrumb "Add token" "auth_factories:yubico_otp:create" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}
