{% load i18n %}
<div class="modal fade u2f-authentication-modal" tabindex="-1" role="dialog" aria-labelledby="U2FModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="U2FModalLabel">{% trans 'U2F Authentication' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% blocktrans %}
                    <p>You are using U2F hardware token authentication.
                        At this point, activate it by pressing the button or applying it to the phone.</p>
                {% endblocktrans %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade unsupported-modal" tabindex="-1" role="dialog" aria-labelledby="UnsupportedLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UnsupportedLabel">{% trans 'Support info' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% blocktrans %}
                    <p>You are using a browser for which we have not confirmed the correct U2F authentication.</p>
                    <p>Sorry for the inconvenience. Unfortunately, we recommend using a browser based on Chromium
                        engine (Google Chrome, Opera, etc.).</p>
                    <p>You can try the current browser at your own risk. You were warned.</p>
                {% endblocktrans %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>
