{% extends 'auth_factories/settings.html' %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}
{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Authentication" "auth_factories:login" %}
    {% breadcrumb "Settings" "auth_factories:settings" %}
    {% breadcrumb "U2F" "auth_factories:u2ftoken:list" %}
    {% if object %}
        {% breadcrumb object "auth_factories:u2ftoken:details" %}
    {% else %}
        {% breadcrumb "Add token" "auth_factories:u2ftoken:create" %}
    {% endif %}
{% endblock %}

{% block settings %}
    {% crispy form %}
{% endblock %}

{% block modal %}
{% include 'watchdog_u2f/_modal.html' %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% include 'watchdog_u2f/_script.html' %}
{% endblock %}

