{% extends 'auth_factories/settings.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Authentication" "auth_factories:login" %}
    {% breadcrumb "Settings" "auth_factories:settings" %}
    {% breadcrumb factory_name authentication_url %}
    {% breadcrumb object object.get_absolute_url %}
{% endblock %}

{% block settings %}
    <div class="card">
        <div class="card-header">
            {% trans 'Confirmation' %}
        </div>
        <div class="card-body">
            <h4 class="card-title">{% trans 'Deletion confirmation' %}</h4>
            <p class="card-text">
              {% block text %}Are you sure you want to remove "{{ object}}"?{% endblock %}
            </p>
            <form method="POST">
                {% csrf_token %}
                <div class="btn-group" role="group" aria-label="{% trans 'Action buttons' %}">
                    <button type="submit" href="#" class="btn btn-warning">{% trans 'Delete' %}</button>
                    <a href="{{ authentication_url }}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
