{% extends 'auth_factories/_progress.html' %}
{% load crispy_forms_tags i18n django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Authentication" "auth_factories:login" %}
    {% breadcrumb "TOTP authentication" "auth_factories:totp:login" %}
{% endblock %}

{% block progress_content %}

    {% if debug %}
        <div class="bg-warning">
            {% blocktrans %} The code is <strong>{{ code }}</strong>.{% endblocktrans %}
        </div>
    {% endif %}
    {% crispy form %}
{% endblock %}
