{% extends 'auth_factories/settings.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Authentication" "auth_factories:login" %}
  {% breadcrumb "Authentication" "auth_factories:settings" %}
  {% breadcrumb "History" "auth_local_log:index" %}
  {% breadcrumb object.created object.get_absolute_url %}
{% endblock %}

{% block settings %}
    <h2>{{ object.created }}</h2>
  <p>{% trans 'Created' %}: {{ object.created }}</p>
{% endblock %}
