{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Authentication" "auth_factories:login" %}
    {% breadcrumb "Settings" "auth_factories:settings" %}
{% endblock %}

{% block content %}
    <h2>{% block page_title %}{% trans 'Security settings' %}{% endblock %}</h2>
    <div class="row">
        <div class="col-md-3">
            {% if factory_list %}
                <h3>{% trans 'Proofs of identity' %}</h3>
                <div class="list-group">
                    {% for item in factory_list %}
                        {% if item.factory.get_settings_url %}
                            <a href="{{ item.factory.get_settings_url }}"
                               class="list-group-item list-group-item-action">
                                {{ item.name }}
                                {% if item.active %}
                                    <span class="badge badge-primary">{% trans 'Active' %}</span>
                                {% else %}
                                    <span class="badge badge-secondary">{% trans 'Inactive' %}</span>
                                {% endif %}
                            </a>
                        {% else %}
                            <span class="list-group-item">
                    {{ item.name }}
                                {% if item.active %}
                                    <span class="badge badge-primary">{% trans 'Active' %}</span>
                                {% else %}
                                    <span class="badge badge-secondary">{% trans 'Inactive' %}</span>
                                {% endif %}
                    </span>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                {% trans 'No authentication method.' %}
            {% endif %}
        </div>
        <div class="col-md-9">
            {% block settings %}
                {% blocktrans %}<p>On the right side, you have the choice of authentication forms arranged according to security level.
                    Make the choice of authentication forms that will be convenient for you.</p>
                <p>Be aware of emergency situations when you lose a hardware token. Also try to activate a backup
                    form of authentication. Do not activate too many forms of authentication, because paradoxically it
                    will reduce security, because the aggressor will also have more choice.</p>{% endblocktrans %}
            {% endblock %}
        </div>
    </div>

{% endblock %}
