{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Authentication" "auth_factories:login" %}
    {% breadcrumb "Settings" "auth_factories:settings" %}
{% endblock %}

{% block content %}

    {% if factory_list %}
        {% if debug %}
            <div class="bg-warning">
                <h2>{% trans 'Factory list' %}</h2>
                <pre>{{ factory_list |pprint }}</pre>
                <h2>{% trans 'Password settings' %}</h2>
                <pre>{{ user.passwordsettings }}</pre>
            </div>
        {% endif %}
        <h2>{% trans 'Authentication settings' %}</h2>
        <div class="list-group">
            {% for item in factory_list %}
                {% if item.factory.get_settings_url %}
                    <a href="{{ item.factory.get_settings_url }}" class="list-group-item list-group-item-action">
                        {{ item.name }}
                        {% if item.active %}
                            <span class="badge badge-primary">{% trans 'Active' %}</span>
                        {% else %}
                            <span class="badge badge-secondary">{% trans 'Inactive' %}</span>
                        {% endif %}
                    </a>
                {% else %}
                    <span class="list-group-item">
                    {{ item.name }}
                        {% if item.active %}
                            <span class="badge badge-primary">{% trans 'Active' %}</span>
                        {% else %}
                            <span class="badge badge-secondary">{% trans 'Inactive' %}</span>
                        {% endif %}
                    </span>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        {% trans 'No authentication method.' %}
    {% endif %}

{% endblock %}
